[theme="dark"] {
	--app-background-color: #091A28;
	--dynamic-copy-color: #fff;
	--dynamic-table: #091A28;
	--dynamic-table-row-stripped: #0e2639;
	--dynamic-table-row-stripped-hover: #12314a;
	--dynamic-modal-card: #2e2e2e;
	--dynamic-nav-burger-icon: #fff;
	--dynamic-links-color: #33ffa3;
	--dynamic-links-color-hover: #fff;
}
