:root {
	--app-background-color: #fff;
	--dynamic-copy-color: #363636;
	--dynamic-table: inherit;
	--dynamic-table-row-stripped: inherit;
	--dynamic-modal-card: #fff;
	--dynamic-nav-burger-icon: #4a4a4a;
	--dynamic-links-color: #42b983;
	--dynamic-links-color-hover: #363636;
	--dynamic-darkmode-toggler-color: #dbdbdb;
}
[theme="dark"] #nav a.button.is-primary { color: #fff; }
