:root {
	--app-background-color: #fff;
	--dynamic-copy-color: #363636;
	--dynamic-table: inherit;
	--dynamic-table-row-stripped: inherit;
	--dynamic-modal-card: #fff;
	--dynamic-nav-burger-icon: #4a4a4a;
	--dynamic-links-color: #33ffa3;
	--dynamic-links-color-hover: #363636;
}
